*{
    box-sizing: border-box;
  }
  
  html,
  body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
  }
  
  .container{
    max-width: 400px;
    background-color:#f4f4f4;
    margin: auto;
    margin-top: 30px;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #333;
  }
  
  a{
    text-decoration: none;
    color:skyblue;
    font-size: 14px;
  }
  
  p{
    font-size: 14px;
    padding-top: 15px;
  }
  
  h2{
    padding: 8px;
    font-size: 1.9rem;
    color: skyblue;
    text-align: center;
  }
  
  h4{
    font-size: 14px;
    color: #333;
    margin-top: 0;
    padding: 8px;
    text-align: center;
  }
  
  h5{
    color: #333;
    font-size: 14px;
    text-align: center;
  }
  
  label{
    font-size: 12px;
    display: block;
  }
  
  input{
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  button{
    border: none;
    background-color: skyblue;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
  }
  
  button:hover{
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* footer section */
  footer{
    background: #cecece;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  
  footer p{
    font-size: 18px;
    font-style: italic;
  }


  